.book-list {
    margin: 40px 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.book {
    cursor: pointer;
    margin: 5px 20px;
    text-align: center;
    width: 200px;
    //border: 1px solid black;
    font-size: 12px;
}
.book img{
    height: 200px;
    width: auto;
    text-align: initial;
}
.book-page{
    display: grid;
    flex-wrap: wrap;
}
.book-details {
    margin-top: 10px;
    text-align: left;
}