.nav-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
}
.logo {
    font-size: 14px;
    color: var(--text-color);
}
.logo-link {
    text-decoration: none;
    margin-bottom: 20px;
}
.primary-links {
    a {
        text-decoration: none;
        color: var(--text-color);
    }
    h2 {
        font-size: 11px;
    }
}

.secondary-links {
    a {
        text-decoration: none;
        color: var(--text-color);
    }
    h2 {
        font-size:11px;
    }
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.test {
    display: flex;
}

.active {
    .page-flag {
        position: relative;
        right: 20px;
        width: 4px;
        background-color: var(--text-color);
        //animation-name: slide1;
        //animation-duration: 1s;
    }
    h2 {
        position: relative;
        right: 4px;
    }
}

@keyframes slide1 {
    0% {
      transform: translateY(500px);
    }
    100% {
      transform: translateY(0);
    }
  }